body{
  background: lightcyanS;
}
.container {
    position: relative;
    display: inline-block;
  }
  .circle-container{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .svg-circle:hover > circle{
    fill: blue;
  }
#myPlot{
  width: 800px;
  height: 500px;
}